@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    background-image: url("background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    color: aliceblue;
}

.card {
    background: #0e2d49;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card__img {
    width: 120px;
    height: 120px;
    border: 4px solid red;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card h1 {
    margin-top: 35px;
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}

.card__social {
    margin: 25px 20px;
}

.card__social a {
    color: aliceblue;
    margin: 20px 25px;
    font-size: 25px;
}

.card__social a:hover {
    color: maroon;
}

.card button {
    width: 150px;
    height: 40px;
    border: 1px solid rgb(255, 19, 19);
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
}

.card button:hover {
    background-color: rgb(83, 7, 7);
}